In [1]:
import csv
import pandas as pd

Value in column funds are written as dollar currency. However this data will use for machine learning model for scholarship in Indonesia then we should convert it to Rupiah by multiply it to the latest currency.

In [2]:
df = pd.read_csv("./Scholarship dataset.csv")
df.head()

,scholarship_program_name,promoter,funds,education_level,region,race,religion,major_study,gpa,gpa_status,...,first_generation,parental_status,enrollment_pattern,low_income,background,total_awardee,deadline,essay,funding_type,scholarship_status
0,Curry & C/O '22 Scholarship,Kimora Jane Curry,500,Senior High School,All USA States,NaN,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,08/15/2023,True,Donor,Open
1,Jared Ethan Trueba Memorial Scholarship,The Trueba Family,500,High School,All USA States,NaN,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,04/01/2024,True,Donor,Open
2,Linda Hicks Memorial Scholarship,Calvin Hicks and Tanya Minor,1000,Undergraduate,All USA States,African American,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,07/28/2023,True,Donor,Open
3,Nitro No-Essay Scholarship,Nitro College,2000,Any,All USA States,NaN,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,05/31/2023,False,Sponsored,Open
4,Niche No-Essay Scholarship,Niche,2000,Any,All USA States,NaN,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,05/31/2021,False,Sponsored,Open

In [3]:
print(f"The Dataset have {df.shape[0]} row and {df.shape[1]} column")
df.dtypes

The Dataset have 506 row and 23 column

scholarship_program_name      object
promoter                      object
funds                          int64
education_level               object
region                        object
race                          object
religion                      object
major_study                   object
gpa                          float64
gpa_status                      bool
identity                      object
underrepresented_minority       bool
volunteering                    bool
first_generation                bool
parental_status               object
enrollment_pattern            object
low_income                      bool
background                    object
total_awardee                  int64
deadline                      object
essay                           bool
funding_type                  object
scholarship_status            object
dtype: object

## Step 1 : Let's checking the data types for every column.

There are six column with boolean value : underrepresented_minority, volunteering, first_generation, low_income, and essay.  
If we look closely there are two columns that has wrong data types.
1. The deadline column have data types as object while supposed to datetime64.
2. The funds column supposed to be float insetad of integer
  
So let's fix it!

In [4]:
#fixing column deadline data types
df["deadline"] = pd.to_datetime(df["deadline"], format='%m/%d/%Y')
#fixing funds column
df['funds'] = df['funds'].astype('float64')

In [5]:
df.head()

,scholarship_program_name,promoter,funds,education_level,region,race,religion,major_study,gpa,gpa_status,...,first_generation,parental_status,enrollment_pattern,low_income,background,total_awardee,deadline,essay,funding_type,scholarship_status
0,Curry & C/O '22 Scholarship,Kimora Jane Curry,500.0,Senior High School,All USA States,NaN,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,2023-08-15,True,Donor,Open
1,Jared Ethan Trueba Memorial Scholarship,The Trueba Family,500.0,High School,All USA States,NaN,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,2024-04-01,True,Donor,Open
2,Linda Hicks Memorial Scholarship,Calvin Hicks and Tanya Minor,1000.0,Undergraduate,All USA States,African American,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,2023-07-28,True,Donor,Open
3,Nitro No-Essay Scholarship,Nitro College,2000.0,Any,All USA States,NaN,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,2023-05-31,False,Sponsored,Open
4,Niche No-Essay Scholarship,Niche,2000.0,Any,All USA States,NaN,Public,Any,0.0,False,...,False,Together,Traditional Student,False,None,1,2021-05-31,False,Sponsored,Open

In [6]:
#Now let's check it again if all the column have the right data types
print(df.dtypes)

scholarship_program_name             object
promoter                             object
funds                               float64
education_level                      object
region                               object
race                                 object
religion                             object
major_study                          object
gpa                                 float64
gpa_status                             bool
identity                             object
underrepresented_minority              bool
volunteering                           bool
first_generation                       bool
parental_status                      object
enrollment_pattern                   object
low_income                             bool
background                           object
total_awardee                         int64
deadline                     datetime64[ns]
essay                                  bool
funding_type                         object
scholarship_status                   object
dtype: object

## Step 2 : Let's selecting the column that relatable

Since the data was scraping from Bold which is a scholarship for only USA Citizen. We have to select a column that will be usefull and related with Indonesia. 

Column race and region are not related, since the geography is different. Hence let's drop those two column.

In [7]:
df.drop(['region', 'race'], inplace=True, axis=1)

In [8]:
column_name = df.columns.values
print(column_name)

['scholarship_program_name' 'promoter' 'funds' 'education_level'
 'religion' 'major_study' 'gpa' 'gpa_status' 'identity'
 'underrepresented_minority' 'volunteering' 'first_generation'
 'parental_status' 'enrollment_pattern' 'low_income' 'background'
 'total_awardee' 'deadline' 'essay' 'funding_type' 'scholarship_status']

In [19]:
#print(column_name[3:])

for i in column_name[3:] :
    print(f"\n{i} values =")
    print(df[i].unique())

education_level values =
['Senior High School' 'High School' 'Undergraduate' 'Any'
 'Senior High School-Undergraduate' 'High School-Undergraduate'
 'Undergraduate-Graduate' 'Graduate']

religion values =
['Public' 'Islam' 'Jewish' 'Catholic']

major_study values =
['Any' 'Arts' 'Engineering' 'Aviation' 'Graphic Design/Animation/VFX'
 'STEM' 'Art/Graphic Design' 'Cosmetology/Esthetician' 'Music' 'Art'
 'Veterinary Medicine' 'Nursing' 'Marine Science' 'Criminal Justice'
 'Sport Golf' 'Liberal Arts/Social Science/Humanities' 'Law School'
 'Pre-law/Political Science/Public Health' 'Design' 'Athlete'
 'International studies' 'South Oak Cliff High School' 'Science'
 'Automotive/Media Arts/Technology' 'Education' 'Construction'
 'Automotive industry-related' 'Engineering/Science' 'Technology/Business'
 'Arts-Music/Visual Arts/Theatre'
 'Rollerblading/Rollerskating/Snowboarding' 'Psychology/Counseling'
 'Science/Math' 'Business' 'Computer Science' 'Golf' 'Trade'
 'Medical Reserach/Biomedical Science/Psychology/Neuroscience'
 'Entrepreneurship/Business' 'Environtmental studies'
 'Arts/Design/Photography' 'Education/Psychology' 'Veterinary'
 'Visual/Performing Arts' 'Computer Science/Technology'
 'Physical Science/Biological Science/Medical Science/Science Education'
 'Software Engineering/IT/Computer Science' 'STEAM' 'Medical' 'Journalism'
 'Information Technology'
 'Business/Information Systems/Health Administration/Organizational Leadership'
 'Aviation/Piloting' 'Healthcare/Physical Science'
 'Social Work/Criminal Justice' 'Special Education' 'Engineering/Trades'
 'Data Science/Technology/STEM/Coding' 'Fine Arts/Business' 'Wrestling'
 'Public Relations.Communications' 'Healthcare' 'Affected by cancer'
 'Rugby' 'Business/Medicine/Computer Science/Art' 'Medicine/Medical'
 'Fine Arts' 'Athletics'
 'Music performance/Jazz studies/Music education/Music therapy'
 'Athletics/Sports related' 'Mathematics'
 'Criminal Justice/Child Psychology/Grief Counseling'
 'Economics/Finance/Accounting' 'Medicine/Public Health '
 'Acting in Theater or Film' 'Law' 'Education/Law' 'Dance/Theater'
 'Pediatric Nursing' 'Fine Arts/Theater' 'Civil Engineering'
 'Business/Accounting/Information Technology'
 'STEM/Healthcare/Health/Public Health/Medicine' 'Medicine'
 'Culinary Arts' 'STEAM/Public Service' 'Education/Teaching'
 'Ocean Conservation/Marine Science/Environtmental Science/Marine Biology'
 'STEAM/Arts' 'Automotive' 'Music/Theater' 'Math' 'Biology/Health Science'
 'Psychology' 'Health Science' 'Mental Health'
 'Business/Computers/Engineering/Music/Psychology'
 'Artificial Intelligent' 'Law Enforcement/Nursing/Teaching'
 'Healthcare/Social Work/Government/Education' 'STEM-related'
 'Nursing Anesthesia' 'Social work/Therapy/Psychology'
 'Sports Broadcasting/Sports Journalism' 'Art/Music/Education/Healthcare'
 'Soccer' 'Performing Arts'
 'Education/Political Science/Social Justice/Law'
 'Criminal Justice/Forensic Science'
 'Ophthalmic/Optometric Support Services' 'Theater Arts'
 'Aircraft Maintenance' 'Education/Business Administration'
 'Computer Science/Video Game Design and Production'
 'Landscape Architecture/Agronomics/Turf Management'
 'Medicine/Counseling/Military/Hospitality/Municipal Work'
 'STEM/Education' 'Trade School' 'History' 'Sport Martial Arts'
 'Architecture/Engineering/Connstruction' 'Preserving Civil Liberties'
 'Trades' 'Agriculture' 'Behavioral studies' 'Trade/Vocational'
 'Law Inforcement' 'Travel Industry' 'Sport Tennis' 'Physician Assistant'
 'Animal Science/Zoology/Biology' 'STEM/STEAM' 'Education/Science'
 'Social Justice' 'Education/Public Service/Social Work'
 'Medicine/Biology' 'Sport Wrestling' 'Foster care system/Music/Arts'
 'Marketing/Business' 'Mental Health/Education'
 'English/Theater/Playwriting']

gpa values =
[0.   3.   3.3  2.7  2.8  3.75 2.5  3.5  3.2  2.   3.6  2.9  2.75 3.4 ]

gpa_status values =
[False  True]

identity values =
['All gender' 'Female' 'LGBTQ+' 'Male' 'LGBTQIA+']

underrepresented_minority values =
[False  True]

volunteering values =
[False  True]

first_generation values =
[False  True]

parental_status values =
['Together' 'Single mother' 'Guardian parent' 'Single parent family'
 'Single mother family' 'Single parent child' 'Single parent']

enrollment_pattern values =
['Traditional Student' 'Nontraditional student']

low_income values =
[False  True]

background values =
['None' 'First-generation' 'Volunteering' 'Active in mosque'
 'African Imigrant' 'Fallen soldier family' 'Learning disability'
 'Overcome adversity' 'Experience chronic medical condition'
 'Experience mental illness' 'Suicide survivor/suicidal'
 'Volunteering experience' 'Female student with a child' 'Swiftie'
 'Immigrant' 'Low-Income' 'Low-income'
 '>= 30 years old/ Returning Student' 'Michigan State University student'
 'Raised by guardian parent' 'Medical condition' 'Four-year student'
 'First-generation/Four-year student' 'Howard University students'
 'Working with animals' 'Loves book' 'In recovery addiction'
 'Non-traditional student' 'Intrigue in sustainability' 'ALS survivor'
 'Must be an aspiring musician' 'Leadership experience/Volunteering'
 'Disability' 'HBCU students' 'Exemplifies S.M.I.L.E'
 'Extracurricular activities' 'Low-income/First-generation/HBCU students'
 'First-generation/Extracurricular/Mental and Pyhsical disability'
 'Volunteering/HBCU students' 'Single mother' 'Immigrant/Foreign students'
 'Tutoring/Science Clubs/Volunteering' 'JROTC/ROTC'
 'University of Texas students' 'Low-income/First-generation'
 'Intrested in heavy Metal music' 'First-generation/Second-generation'
 'First-generation/Community service five years'
 'Speak English and Spanish' 'Volunteering/Sports'
 'Interested in Culinary Arts/Hospitality/Marketing/Finance/Nutrition'
 'Veteran/Active Military' 'Teaching low-incidence/Autistic students'
 'Development or intellectual disability' 'Lost a loved one'
 'Interested in cosmetology' 'First-generation/Low-income'
 'Immigrant single mother related' 'First-generation/Volunteering'
 'JROTC/ROTC/Military Service' 'University of Wyoming student'
 'Interested in climbing' 'Klein Forest High School student'
 'Currently working full-time' 'Low-income/Caregiver'
 'Volunteering/Loves working with horses'
 'Interested in dietician/Studying nutrition or health science'
 'Extracurricular speech and debate/Mock Trial'
 'Volunteering/Affected by cancer' 'Single parent child'
 'Attending baptist college' 'Bethel Park High School student'
 'Addiction struggles/Currently sober' 'Affected by cancer'
 'Interested in math' 'In foster care' 'International student'
 'San Diego State University student' 'HBCU student' 'KSU student'
 'Community service 8 hours/Kansas State University student' 'Loves books'
 'Child of a veteran' 'Survived a congenital heart defect'
 'Child of single parent' 'Community Service'
 'First-generation/Has student loan debt' 'Junior ROTC'
 'Bethune-Cookman University student'
 'Diagnosed with a systemic autoimmune disease'
 'Parent/Returning to school' 'Affected by incarceration'
 'Low-income/Sport Extracurricular/Volunteering'
 'Marrywood University student' 'Single parent related'
 'Adult learner/Non-traditional student/disability student/full or part-timer'
 'food service industry'
 'Affected by substance use or addiction or mental health struggles'
 'Community service experience'
 'Academic Merit/Nurturing social-emotional wellbeing and gifted children'
 'Graduate between 2020-2026' 'Demonstrated interest in civic engagement'
 'Has student debt' 'Non-traditional students' 'Ukranian Nationality'
 'Playing Lacrosse sport'
 'Currently in or have aged out of the foster care system'
 'Underrepresented minority' 'Non US citizen' 'Mental illness experience'
 'Volunteering at animal shelter or rescue group' 'AAPI student'
 'International citizen/Low-income'
 'Passionate about mentoring or motivating others'
 'First-generation/Underrepresented minority'
 'Plan to begin a business or become an entrepreneur'
 'Community involvement' 'Plays varsity for college or university team'
 'Affected by mental health issues or drug abuse'
 'Interest in watercolor painting' 'Pursuing higher education'
 'Plays golf' 'Diagnosed or Suspected with a learning disability'
 'Community service' 'Chess as hobbies'
 'Career in science or invention or entrepreneurship'
 'A parent/English as second language'
 'Low-income/Underrepresented minority'
 'Improvement academically and personally' 'ROTC/JROTC'
 'Hospitality Industry/Food Service'
 'North Carolina State University student'
 'Volunteering/Community Service' 'Volunteering/Public Service'
 'Has contributed to the musical arts band or chorus or orchestra'
 'Working to support the problem of substance abuse'
 'Volunteering/First-generation' 'Experienced drug or alcohol addiction'
 'Pursuing future entrepreneur' 'Gives back to the community'
 'Single parent' 'Animal advocacy or care'
 'Hudson or Saginaw Nouvel Catholic or South Lyon High School student'
 'Wears hearing aid or cochlear implants to assist with hearing'
 'Low-income/Single parent'
 'Non-traditional student/ more than 25 years old' 'Athlete'
 'Chattahoochee High School student' 'Played a sport' 'Has diabetes'
 "Parkinson's experience direct or indirect"
 'Single parent/Child of single parent'
 'Child of a law enforcement officer' 'One or more autoimmune conditions'
 'Participation in a speacial education program' 'Soccer experience']

total_awardee values =
[ 1  4  2  5  3  6 12 25 10]

deadline values =
['2023-08-15T00:00:00.000000000' '2024-04-01T00:00:00.000000000'
 '2023-07-28T00:00:00.000000000' '2023-05-31T00:00:00.000000000'
 '2021-05-31T00:00:00.000000000' '2023-04-30T00:00:00.000000000'
 '2023-06-30T00:00:00.000000000' '2023-10-01T00:00:00.000000000'
 '2023-08-05T00:00:00.000000000' '2023-11-15T00:00:00.000000000'
 '2023-10-15T00:00:00.000000000' '2024-04-28T00:00:00.000000000'
 '2023-08-01T00:00:00.000000000' '2023-11-30T00:00:00.000000000'
 '2024-03-09T00:00:00.000000000' '2023-07-15T00:00:00.000000000'
 '2023-06-01T00:00:00.000000000' '2024-01-11T00:00:00.000000000'
 '2023-08-11T00:00:00.000000000' '2023-09-12T00:00:00.000000000'
 '2023-09-27T00:00:00.000000000' '2023-07-31T00:00:00.000000000'
 '2023-07-06T00:00:00.000000000' '2023-07-01T00:00:00.000000000'
 '2023-09-01T00:00:00.000000000' '2023-09-22T00:00:00.000000000'
 '2024-03-21T00:00:00.000000000' '2023-07-20T00:00:00.000000000'
 '2023-09-15T00:00:00.000000000' '2023-06-16T00:00:00.000000000'
 '2023-07-27T00:00:00.000000000' '2023-07-11T00:00:00.000000000'
 '2023-06-18T00:00:00.000000000' '2024-03-15T00:00:00.000000000'
 '2023-11-05T00:00:00.000000000' '2024-02-28T00:00:00.000000000'
 '2023-07-02T00:00:00.000000000' '2023-10-30T00:00:00.000000000'
 '2023-06-15T00:00:00.000000000' '2023-07-07T00:00:00.000000000'
 '2024-02-16T00:00:00.000000000' '2023-11-01T00:00:00.000000000'
 '2023-07-25T00:00:00.000000000' '2023-09-21T00:00:00.000000000'
 '2023-12-01T00:00:00.000000000' '2023-06-27T00:00:00.000000000'
 '2024-07-31T00:00:00.000000000' '2024-02-20T00:00:00.000000000'
 '2023-06-23T00:00:00.000000000' '2023-07-05T00:00:00.000000000'
 '2023-05-22T00:00:00.000000000' '2023-06-25T00:00:00.000000000'
 '2023-07-18T00:00:00.000000000' '2023-05-21T00:00:00.000000000'
 '2023-05-25T00:00:00.000000000' '2023-07-17T00:00:00.000000000'
 '2023-07-16T00:00:00.000000000' '2023-10-14T00:00:00.000000000'
 '2023-06-20T00:00:00.000000000' '2023-07-04T00:00:00.000000000'
 '2023-08-06T00:00:00.000000000' '2023-06-12T00:00:00.000000000'
 '2023-05-15T00:00:00.000000000' '2023-06-04T00:00:00.000000000'
 '2023-08-31T00:00:00.000000000' '2023-05-17T00:00:00.000000000'
 '2023-06-05T00:00:00.000000000' '2023-09-11T00:00:00.000000000'
 '2023-06-24T00:00:00.000000000' '2024-01-14T00:00:00.000000000'
 '2023-05-24T00:00:00.000000000' '2023-05-30T00:00:00.000000000'
 '2023-11-12T00:00:00.000000000' '2023-07-22T00:00:00.000000000'
 '2023-07-14T00:00:00.000000000' '2023-06-17T00:00:00.000000000'
 '2024-01-02T00:00:00.000000000' '2023-12-05T00:00:00.000000000'
 '2024-01-01T00:00:00.000000000' '2023-12-31T00:00:00.000000000'
 '2023-05-18T00:00:00.000000000' '2023-07-30T00:00:00.000000000'
 '2023-06-10T00:00:00.000000000' '2023-08-29T00:00:00.000000000'
 '2024-01-31T00:00:00.000000000' '2023-12-15T00:00:00.000000000'
 '2023-06-08T00:00:00.000000000' '2023-09-30T00:00:00.000000000'
 '2023-05-19T00:00:00.000000000' '2023-05-23T00:00:00.000000000'
 '2023-08-04T00:00:00.000000000' '2023-10-22T00:00:00.000000000'
 '2023-05-20T00:00:00.000000000' '2023-05-27T00:00:00.000000000'
 '2023-09-04T00:00:00.000000000' '2023-05-28T00:00:00.000000000'
 '2023-10-16T00:00:00.000000000' '2023-06-29T00:00:00.000000000'
 '2023-09-02T00:00:00.000000000' '2023-06-28T00:00:00.000000000'
 '2023-09-05T00:00:00.000000000' '2023-06-07T00:00:00.000000000'
 '2023-06-14T00:00:00.000000000' '2023-05-26T00:00:00.000000000'
 '2023-08-18T00:00:00.000000000' '2023-10-06T00:00:00.000000000'
 '2023-10-18T00:00:00.000000000' '2024-04-15T00:00:00.000000000'
 '2023-05-01T00:00:00.000000000' '2023-05-10T00:00:00.000000000'
 '2023-05-02T00:00:00.000000000' '2023-05-14T00:00:00.000000000'
 '2023-04-19T00:00:00.000000000' '2023-05-13T00:00:00.000000000'
 '2023-05-12T00:00:00.000000000' '2023-04-08T00:00:00.000000000'
 '2023-05-08T00:00:00.000000000' '2023-04-26T00:00:00.000000000'
 '2023-04-01T00:00:00.000000000' '2023-04-27T00:00:00.000000000'
 '2023-04-25T00:00:00.000000000' '2023-04-15T00:00:00.000000000'
 '2023-04-24T00:00:00.000000000' '2023-05-07T00:00:00.000000000'
 '2023-05-05T00:00:00.000000000' '2023-04-12T00:00:00.000000000'
 '2023-04-05T00:00:00.000000000' '2023-04-17T00:00:00.000000000'
 '2023-04-20T00:00:00.000000000' '2023-04-18T00:00:00.000000000'
 '2023-04-11T00:00:00.000000000' '2023-04-16T00:00:00.000000000'
 '2023-02-28T00:00:00.000000000' '2023-03-12T00:00:00.000000000'
 '2023-04-02T00:00:00.000000000' '2023-04-14T00:00:00.000000000'
 '2023-03-15T00:00:00.000000000' '2023-03-29T00:00:00.000000000'
 '2023-03-01T00:00:00.000000000' '2023-03-03T00:00:00.000000000'
 '2023-02-01T00:00:00.000000000' '2023-04-06T00:00:00.000000000'
 '2023-03-20T00:00:00.000000000' '2023-04-10T00:00:00.000000000'
 '2023-03-14T00:00:00.000000000' '2023-04-09T00:00:00.000000000'
 '2023-02-05T00:00:00.000000000' '2023-03-24T00:00:00.000000000'
 '2023-02-15T00:00:00.000000000' '2023-01-23T00:00:00.000000000'
 '2023-02-20T00:00:00.000000000' '2023-02-17T00:00:00.000000000'
 '2023-08-27T00:00:00.000000000' '2023-07-24T00:00:00.000000000'
 '2023-11-17T00:00:00.000000000']

essay values =
[ True False]

funding_type values =
['Donor' 'Sponsored' 'Sponspored' 'Independent' 'Ended']

scholarship_status values =
['Open' 'Reviewing' 'Awarded']

### Let's check if there is a row with null value in it!

In [20]:
df.isnull().sum().sort_values(ascending=False)

scholarship_program_name     0
first_generation             0
funding_type                 0
essay                        0
deadline                     0
total_awardee                0
background                   0
low_income                   0
enrollment_pattern           0
parental_status              0
volunteering                 0
promoter                     0
underrepresented_minority    0
identity                     0
gpa_status                   0
gpa                          0
major_study                  0
religion                     0
education_level              0
funds                        0
scholarship_status           0
dtype: int64

## Step 3 : Let's checking values that still relateable

In column identity which listing a value about gender that can applying the scholarship. You may look that there are value LGBTQ+ and LGBTQIA+. Unfortunately, in Indonesia only two gender acknowleged, female and male. Hence, we have to drop columns with LGBTQ+ and LGBTQIA+ values on identity column.

In [26]:
identity_filter = df[ (df['identity'] == 'LGBTQ+') | (df['identity'] == 'LGBTQIA+')].index

df.drop(identity_filter, inplace=True)

In [27]:
df.shape

(496, 21)

## Step 4 : Let's convert some columns from categorical into numerical data (One-Hot)

In [31]:
import tensorflow as tf

ModuleNotFoundError: No module named 'tensorflow'

In [32]:
from platform import python_version
print(python_version())

3.9.12